<script>
  import NotFound from "../components/errors/NotFound.svelte";
  import UnexpectedError from "../components/errors/UnexpectedError.svelte";
  export let status;

  function getComponent(code) {
    switch (code) {
      case 404:
        return NotFound;
      default:
        return UnexpectedError;
    }
  }
  const component = getComponent(status);
</script>

<svelte:component this={component} />
