<script>
  import PageTitle from "../components/PageTitle.svelte";
  import team from "../data/team";
</script>

<style>
  a {
    & .image-wrapper {
      padding-top: 66%;
      & img {
        transition: all 0.25s ease-out;
      }
    }
  }
  a:hover {
    & img {
      transform: scale(1.1);
    }
  }
</style>

<svelte:head>
  <title>Pragmma - About</title>

</svelte:head>
<PageTitle>
  <h1 slot="title">Pragmma Team</h1>
  <p slot="description">
    At the moment I'm the only one working at Pragmma with the help of my kitten
    but I'm looking to grow the team in the next year.
  </p>
</PageTitle>

<div class="flex flex-wrap justify-center px-12 pb-24">

  {#each team as member}
    <!-- replace /about with team/{member.id} and remove default cursor -->
    <a
      href="/about"
      rel="prefetch"
      class="w-full flex flex-col mb-8 hover:text-primary md:w-1/3 md:px-6
      cursor-default">

      <div class="image-wrapper flex relative w-full overflow-hidden">
        <img
          class="w-full absolute inset-0 object-cover"
          src="/team/{member.id}-thumbnail.jpg"
          alt={member.name} />

      </div>
      <div class="mt-4">
        <h5>{member.name}</h5>
        <p class="text-sm">{member.position}</p>
      </div>
    </a>
  {/each}
</div>
