<script>
  import PageTitle from "../components/PageTitle.svelte";
</script>

<style>
  .content p {
    @apply text-base mt-4;
  }
</style>

<svelte:head>
  <title>Pragmma - Accessibility</title>

</svelte:head>
<PageTitle>
  <h1 slot="title">Accessibility</h1>
  <p slot="description">
    Pragmma Limited is committed to providing a website that is accessible to
    the widest possible audience, regardless of technology or ability.
  </p>
</PageTitle>

<div class="pb-24">
  <div class="px-8 lg:px-32">

    <p class=" text-xl">
      We are actively working to increase the accessibility and usability of our
      website and in doing so adhere to many of the available standards and
      guidelines.
    </p>

    <div class="content">

      <p>
        This website endeavours to conform to level Double-A of the World Wide
        Web Consortium (W3C) Web Content Accessibility Guidelines 2.0.
      </p>
      <p>
        These guidelines explain how to make web content more accessible for
        people with disabilities. Conformance with these guidelines will help
        make the web more user friendly for all people.
      </p>
      <p>
        This site has been built using code compliant with W3C standards for
        HTML and CSS. The site displays correctly in current browsers and using
        standards compliant HTML/CSS code means any future browsers will also
        display it correctly.
      </p>
      <p>
        Whilst we strive to adhere to the accepted guidelines and standards for
        accessibility and usability, it is not always possible to do so in all
        areas of the website.
      </p>
      <p>
        We are continually seeking out solutions that will bring all areas of
        the site up to the same level of overall web accessibility. In the
        meantime should you experience any difficulty in accessing the Pragmma
        Limited website, please don’t hesitate to contact us.
      </p>

    </div>
  </div>

</div>
