<script>
  import { onMount } from "svelte";
  import { draw } from "svelte/transition";
  import { quintOut } from "svelte/easing";
  import PageTitle from "../components/PageTitle.svelte";
  import PlanSVG from "../components/svg/approach/Plan.svelte";
  import CreateSVG from "../components/svg/approach/Create.svelte";
  import IterateSVG from "../components/svg/approach/Iterate.svelte";

  let showLogo = false;

  onMount(() => {
    showLogo = true;
  });
</script>

<style>
  .approach-wrapper {
    @apply flex flex-wrap justify-center my-12;

    & > div {
      @apply w-full  flex flex-col  items-center p-8;
      & div {
        @apply my-6 w-24;
      }
      & span {
        @apply text-xl;
      }
      & p {
        @apply my-6 text-center;
      }
    }

    @screen sm {
      & > div {
        @apply w-1/2;
      }
    }
    @screen lg {
      & > div {
        @apply w-1/3;
      }
    }
  }
</style>

<svelte:head>
  <title>Pragmma - Aproach</title>

</svelte:head>
<PageTitle>
  <div slot="title" class="flex flex-col items-center">
    <div class="w-32 mb-8">

      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-full h-full"
        viewBox="0 0 104 94.4">
        {#if showLogo}
          <g transform="translate(-924 -410.5)">
            <g transform="translate(928 438.5)">
              <path
                d="M568,832v62.4"
                transform="translate(-568 -832)"
                fill="none"
                stroke="#000"
                in:draw={{ duration: 1000, delay: 0, easing: quintOut }}
                stroke-width="8" />
              <path
                d="M572,857.4c.024,9.782,4.861,19.239,19.2,19.2s19.249-9.589,19.2-19.2"
                transform="translate(-572 -819)"
                fill="none"
                stroke="#000"
                stroke-width="8"
                in:draw={{ duration: 1000, delay: 1000, easing: quintOut }} />
              <path
                d="M610.4,819v38.4c.049,9.611-4.861,19.161-19.2,19.2s-19.176-9.418-19.2-19.2,0-38.4,0-38.4"
                transform="translate(-533.6 -819)"
                fill="none"
                stroke="#000"
                stroke-width="8"
                in:draw={{ duration: 1000, delay: 2000, easing: quintOut }} />
            </g>
            <g transform="translate(1024 476.9) rotate(180)">
              <path
                d="M0,0V62.4"
                transform="translate(0 0)"
                fill="none"
                stroke="#000"
                stroke-width="8"
                in:draw={{ duration: 1000, delay: 0, easing: quintOut }} />
              <path
                d="M0,38.4c.024,9.782,4.861,19.239,19.2,19.2s19.249-9.589,19.2-19.2"
                transform="translate(0 0)"
                fill="none"
                stroke="#000"
                stroke-width="8"
                in:draw={{ duration: 1000, delay: 1000, easing: quintOut }} />
              <path
                d="M38.4,0V38.4c.049,9.611-4.861,19.161-19.2,19.2S.024,48.182,0,38.4,0,0,0,0"
                transform="translate(38.4)"
                fill="none"
                stroke="#000"
                stroke-width="8"
                in:draw={{ duration: 1000, delay: 2000, easing: quintOut }} />
            </g>
          </g>
        {/if}

      </svg>

    </div>
    <!--                transition:draw="{{duration: 1000, delay: 0, easing: quintOut}}" -->
    <h1>Plan. Create. Iterate.</h1>
  </div>
  <p slot="description">
    Pragmatism as a way of life. No silver bullet, just hard work and care to
    achieve results.
  </p>
</PageTitle>

<div class="p-12 bg-black text-white">
  <div class="flex flex-col items-center">
    <div class=" flex justify-center text-center w-full md:w-2/3 lg:w-1/2">
      <div>
        <p class="uppercase text-sm">our approach</p>
        <h2 class="text-3xl my-8 leading-tight md:text-4xl ">
          Keep it super simple
        </h2>
        <p>
          All of us have seen the problems of trying to make complex
          applications. Keeping projects simple allow to prove ideas quickly and
          iterate over them to accomplish the end goals in the better way
          possible..
        </p>
      </div>
    </div>
    <div class="approach-wrapper">
      <div class="">
        <div>
          <PlanSVG />
        </div>
        <span>Plan</span>
        <p>
          Continuous learning with user research, feedback and analytics to
          iterate over and over until get the desired outcome.
        </p>
      </div>
      <div>
        <div>
          <CreateSVG />
        </div>
        <span>Create</span>
        <p>
          We choose the right tool for the job with the latest technologies.
          Agile development to see results from the start.
        </p>
      </div>
      <div>
        <div>
          <IterateSVG />
        </div>
        <span>Iterate</span>
        <p>
          User research, feedback and analytics is the input that we use to
          learn continuously and improve.
        </p>
      </div>
    </div>
  </div>
</div>
