<script>
  import PageTitle from "../components/PageTitle.svelte";
</script>

<style>
  .button {
    @apply border-white border px-8 py-2 mx-4 uppercase;
  }
</style>

<svelte:head>
  <title>Pragmma - Home</title>

</svelte:head>

<div class="min-h-screen bg-primary text-white">
  <PageTitle>
    <h1 slot="title">Mind the gap</h1>
    <div slot="description">
      <p>
        There're a lot of gaps, different needs, different environments, clients
        and users and that's the reason that we can help you.
      </p>
      <div class="w-full flex justify-center py-12">

        <a class="button" href="/approach">Approach</a>
        <!-- <a class="button" href="/contact">Contact</a> -->
      </div>
    </div>

  </PageTitle>
  <div class="bg-white py-24 text-center">
    <div class="text-black text-4xl font bold">
      Get in touch at
      <a class="text-primary" href="mailto:hello@pragmma.tech">
        hello@pragmma.tech
      </a>
    </div>

  </div>

</div>
