<script>
  import PageTitle from "../components/PageTitle.svelte";
</script>

<style>
  .privacy-block {
    @apply mt-8;
    & h2 {
      @apply text-3xl mb-4;
    }
    & p {
      @apply text-base mt-4;
    }
  }
</style>

<svelte:head>
  <title>Pragmma - Privacy Policy</title>

</svelte:head>
<PageTitle>
  <h1 slot="title">Privacy Policy</h1>
  <p slot="description">
    This privacy policy sets out how Pragmma Limited uses and protects any
    information that you give to pragmma.tech when you use this website.
  </p>
</PageTitle>

<div class="pb-24">
  <div class="px-8 lg:px-32">

    <div class="text-xl">
      <div>
        <p>
          Pragmma Limited is committed to ensuring that your privacy is
          protected. Should we ask you to provide certain information by which
          you can be identified when using this website, then you can be assured
          that it will only be used in accordance with this privacy statement.
        </p>
        <p class="mt-4">
          Pragmma Limited may change this policy from time to time by updating
          this page. You should check this page from time to time to ensure that
          you are happy with any changes. This policy was last updated on the
          16th of September 2019.
        </p>
      </div>

      <div class="privacy-block">
        <h2>What we collect</h2>
        <p>At the moment no data is collected</p>

      </div>
      <div class="privacy-block">

        <h2>Links to other websites</h2>
        <p>
          Our website may contain links to other websites of interest. However,
          once you have used these links to leave our site, you should note that
          we do not have any control over that other website. Therefore, we
          cannot be responsible for the protection and privacy of any
          information which you provide whilst visiting such sites and such
          sites are not governed by this privacy statement. You should exercise
          caution and look at the privacy statement applicable to the website in
          question.
        </p>

      </div>

      <div class="privacy-block">

        <h2>Disclaimer</h2>
        <div>
          <p>
            The material on our site is given for general information only, and
            does not constitute professional advice. You should take specific
            advice before taking a course of action as we do not accept directly
            or indirectly any responsibility for loss arising directly or
            indirectly from reliance on information on this site.
          </p>
          <p>
            Given that the Internet uses an open system we cannot warrant that
            the site and downloads reach you virus-free. You must, therefore,
            take all appropriate precautions for your own safety.
          </p>

        </div>

      </div>
      <div class="privacy-block">

        <h2>Copyright</h2>
        <p>
          Entire contents © {new Date().getFullYear()} Pragmma Limited. All
          rights reserved
        </p>

      </div>

      <!--  <p>We may collect the following information:</p>
        <ul class="list-single-col">
          <li>Name and job title</li>
          <li>Contact information including email address</li>
          <li>
            Demographic information such as postcode, preferences and interests
          </li>
          <li>Other information relevant to customer surveys and/or offers</li>
        </ul> -->
      <!--  <h2>What we do with the information we gather</h2>
        <p>
          We require this information to understand your needs and provide you
          with a better service, and in particular for the following reasons:
        </p>
        <ul class="list-single-col">
          <li>Internal record keeping.</li>
          <li>
            We may use the information to improve our products and services.
          </li>
          <li>
            We may periodically send promotional emails about new products,
            special offers or other information which we think you may find
            interesting using the email address which you have provided.
          </li>
          <li>
            From time to time, we may also use your information to contact you
            for market research purposes. We may contact you by email, phone,
            fax or mail. We may use the information to customise the website
            according to your interests.
          </li>
        </ul> -->
      <!--     <p class="h2">Security</p>
        <p>
          We are committed to ensuring that your information is secure. In order
          to prevent unauthorised access or disclosure, we have put in place
          suitable physical, electronic and managerial procedures to safeguard
          and secure the information we collect online
        </p>
        <h2>Cookies</h2>
        <p>
          A cookie is a small file which asks permission to be placed on your
          computer’s hard drive. Once you agree, the file is added and the
          cookie helps analyse web traffic or lets you know when you visit a
          particular site. Cookies allow web applications to respond to you as
          an individual. The web application can tailor its operations to your
          needs, likes and dislikes by gathering and remembering information
          about your preferences.
        </p>
        <p>
          Currently we operate an ‘implied consent’ policy which means that we
          assume you are happy with our use of cookies. If you are not happy,
          then you should either not use this site, or you should delete our
          cookies once you have visited the site, or you should browse the site
          using your browser’s anonymous usage setting (called “Incognito” in
          Chrome, “InPrivate” for Internet Explorer, “Private Browsing” in
          Firefox and Safari etc.)
        </p>
        <p>
          We use traffic log cookies to identify which pages are being used.
          This helps us analyse data about webpage traffic and improve our
          website in order to tailor it to customer needs. We only use this
          information for statistical analysis purposes and then the data is
          removed from the system.
        </p>
        <p>
          Overall, cookies help us provide you with a better website by enabling
          us to monitor which pages you find useful and which you do not. A
          cookie in no way gives us access to your computer or any information
          about you, other than the data you choose to share with us.
        </p>
        <p>
          You can choose to accept or decline cookies. Most web browsers
          automatically accept cookies, but you can usually modify your browser
          setting to decline cookies if you prefer. This may prevent you from
          taking full advantage of the website.
        </p>
        <p>
          If you don’t want to receive cookies, you can modify your browser so
          that it notifies you when cookies are sent to it or you can refuse
          cookies altogether. You can also delete cookies that have already been
          set.
        </p>
        <p>
          If you wish to restrict or block web browser cookies which are set on
          your device then you can do this through your browser settings; the
          Help function within your browser should tell you how. Alternatively,
          you may wish to visit www.aboutcookies.org, which contains
          comprehensive information on how to do this on a wide variety of
          desktop browsers.
        </p>
        <p class="h2">Cookies on the Pragmma Limited site</p>
        <p>
          Session cookies – We use a session cookie to remember your log-in for
          you when logging into our Client Area. You can learn more about
          session cookies and what they are used for at
          <a
            href="http://www.allaboutcookies.org/cookies/session-cookies-used-for.html">
            http://www.allaboutcookies.org/cookies/session-cookies-used-for.html
          </a>
        </p>
        <p>
          Google Analytics – we use this to understand how the Pragmma Limited
           site is being used in order to improve the user experience. Your
          user data is all anonymous. You can find out more about Google’s
          position on privacy as regards its analytics service at
          <a
            href="http://www.google.co.uk/intl/en/analytics/privacyoverview.html">
            http://www.google.co.uk/intl/en/analytics/privacyoverview.html
          </a>
        </p>
        <p>
          Google AdWords: Using Google AdWords code we are able to see which
          pages helped lead to contact form submissions. This allows us to make
          better use of our paid search budget.
        </p>
        <p>
          Facebook Advertising: We use Facebook advertising conversion tracking
          and re-targeting pixels, which allows us to collect or receive
          information from your website and elsewhere on the internet and use
          that information to provide measurement services and target
          advertising.
        </p>
        <p>
          DoubleClick: We use remarketing codes to log when users view specific
          pages, allowing us to provide targeted advertising in the future.
        </p>
        <p>
          Visual Website Optimiser: Our website optimiser uses cookies to
          remember the website for which you searched. This helps it generate
          the required results.
        </p>
        <p class="h2">How do I change my cookie settings?</p>
        <p>
          Most web browsers allow some control of most cookies through the
          browser settings. To find out more about cookies, including how to see
          what cookies have been set, visit
          <a href="http://www.aboutcookies.org">www.aboutcookies.org</a>
          or
          <a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a>
          .
        </p>
        <p>Find out how to manage cookies on popular browsers:</p>
        <ul class="list-single-col">
          <li>Google Chrome</li>
          <li>Microsoft Edge</li>
          <li>Mozilla Firefox</li>
          <li>Microsoft Internet Explorer</li>
          <li>Opera</li>
          <li>Apple Safari</li>
        </ul>
        <p>
          To find information relating to other browsers, visit the browser
          developer’s website.
        </p>
        <p>
          To opt out of being tracked by Google Analytics across all websites,
          visit
          <a href="http://tools.google.com/dlpage/gaoptout">
            http://tools.google.com/dlpage/gaoptout
          </a>
          .
        </p>
        <p>
          We are planning to enhance our cookie tool to allow users to more
          easily change their cookie settings after their initial choice.
        </p> -->
      <!--  <p class="h2">Other information we collect</p>
        <p>
          Social buttons – On many of the pages of the Pragmma Limited site
          you will see ‘social buttons’. These enable users to share or bookmark
          the web pages. There are buttons for: Twitter, Google +1, Facebook
          ‘Like’, and LinkedIn ‘Share’. In order to implement these buttons, and
          connect them to the relevant social networks and external sites, there
          are scripts from domains outside of Pragmma Limited. You should be
          aware that these sites are likely to be collecting information about
          what you are doing all around the internet, including on
          Pragmma Limited’s site. So if you click on any of these buttons, these
          sites will be registering that action and may use that information. In
          some cases these sites will be registering the fact that you are
          visiting Pragmma Limited, and the specific pages you are on, even
          if you don’t click on the button if you are logged into their
          services, like Google and Facebook. You should check the respective
          policies of each of these sites to see how exactly they use your
          information and to find out how to opt out, or delete, such
          information.
        </p>
        <p>
          External web services – We use a number of external web services on
          the Pragmma Limited, mostly to display content within our web
          pages. For example, to display slideshows we sometimes use SlideShare;
          to show videos we use YouTube and Vimeo. This is not an exhaustive or
          complete list of the services we use, or might use in the future, when
          embedding content, but these are the most common. As with the social
          buttons we cannot prevent these sites, or external domains, from
          collecting information on your usage of this embedded content. If you
          are not logged in to these external services then they will not know
          who you are but are likely to gather anonymous usage information e.g.
          number of views, plays, loads etc.
        </p>
        <p>
          Email tracking – Some emails that we send you have no tracking in at
          all, for example personal correspondence or emails with invoices
          attached. Other emails we send we put in tracking so that we can tell
          how much traffic those emails send to our site and we can track, at an
          individual level, whether the user has opened and clicked on the
          email. We rarely use the latter information at a personal level,
          rather we use it to understand open and click rates on our emails to
          try and improve them. Sometimes we do use the personal information
          e.g. to re-email people who didn’t click the first time. If you want
          to be sure that none of your email activity is tracked then you should
          unsubscribe from the Pragmma Limited newsletter.
        </p>
        <p>
          Leadfeeder – We use this service to collect IP addresses to identify
          companies that visit our website. We then might look up a relevant
          contact for the company and contact them via direct mail.
        </p> -->
      <!--   <p class="h2">Links to other websites</p>
        <p>
          Our website may contain links to other websites of interest. However,
          once you have used these links to leave our site, you should note that
          we do not have any control over that other website. Therefore, we
          cannot be responsible for the protection and privacy of any
          information which you provide whilst visiting such sites and such
          sites are not governed by this privacy statement. You should exercise
          caution and look at the privacy statement applicable to the website in
          question.
        </p> -->
      <!-- <p class="h2">Controlling your personal information</p>
        <p>
          You may choose to restrict the collection or use of your personal
          information in the following ways:
        </p>
        <ul class="list-single-col">
          <li>
            Whenever you are asked to fill in a form on the website, look for
            the box that you can click to indicate that you do not want the
            information to be used by anybody for direct marketing purposes
          </li>
          <li>
            If you have previously agreed to us using your personal information
            for direct marketing purposes, you may change your mind at any time
            by writing to or emailing us at marketing@pragma.tech
          </li>
          <li>
            We will not sell, distribute or lease your personal information to
            third parties unless we have your permission or are required by law
            to do so. We may use your personal information to send you
            promotional information about third parties which we think you may
            find interesting if you tell us that you wish this to happen.
          </li>
        </ul>
        <p>
          You may request details of personal information which we hold about
          you under the Data Protection Act 1998. If you would like a copy of
          the information held on you please write to Pragmma Limited, The
          Clock Tower, Talbot Street, Nottingham NG1 5GG.
        </p>
        <p>
          If you believe that any information we are holding on you is incorrect
          or incomplete, please write to or email us as soon as possible at the
          above address. We will promptly correct any information found to be
          incorrect.
        </p> -->
      <!-- <p class="h2">Disclaimer</p>
        <p>
          The material on our site is given for general information only, and
          does not constitute professional advice. You should take specific
          advice before taking a course of action as we do not accept directly
          or indirectly any responsibility for loss arising directly or
          indirectly from reliance on information on this site.
        </p>
        <p>
          Given that the Internet uses an open system we cannot warrant that the
          site and downloads reach you virus-free. You must, therefore, take all
          appropriate precautions for your own safety.
        </p>
        <p class="h2">Copyright</p>
        <p>
          Entire contents © {new Date().getFullYear()} Pragmma Limited. All
          rights reserved
        </p> -->
    </div>

  </div>

</div>
