<style>
  .links {
    & li {
      @apply my-4 text-xl;
      & a {
        @apply text-black;
      }
    }
  }
</style>

<svelte:head>
  <title>Pragmma - Sitemap</title>

</svelte:head>
<h1 class="text-5xl text-center my-32">Sitemap</h1>

<div class=" pb-24">
  <div class="px-8 lg:px-32">

    <ul class="links">
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/accessibility">Accessibility</a>
      </li>
      <li>
        <a href="/approach">Approach</a>
      </li>
      <!--  <li>
        <a href="/contact">Contact us</a>
      </li> -->
      <!--     <li>
        <a href="/case-studies">Our work</a>
      </li> -->
      <li>
        <a href="/privacy-policy">Privacy Policy</a>
      </li>

      <!--  <li>
        <a href="/strategy">Strategy</a>
      </li> -->
      <!-- <ul>
          <li>
            <a
              href="/strategy/competitor-analysis/">
              Competitor Analysis
            </a>
          </li>
          <li>
            <a href="/strategy/website-review/">
              Website Review
            </a>
          </li>
        </ul> -->

      <li>
        <a href="/terms-conditions">Terms &amp; Conditions</a>
      </li>

    </ul>
  </div>

</div>
