<script>
  import PageTitle from "../components/PageTitle.svelte";
</script>

<style>
  .content p {
    @apply text-base mt-4;
  }
</style>

<svelte:head>
  <title>Pragmma - Terms &amp; Conditions</title>

</svelte:head>
<PageTitle>
  <h1 slot="title">Terms &amp; Conditions</h1>
  <p slot="description">
    By accessing and using this site, you accept the following terms and
    conditions, without limitation or qualification.
  </p>
</PageTitle>

<div class="pb-24">
  <div class="px-8 lg:px-32">

    <p class=" text-xl">
      Unless otherwise stated, the contents of this site including, but not
      limited to, the text and images contained herein and their arrangement are
      the property of Pragmma Limited. All trademarks used or referred to on
      this website are the property of their respective owners.
    </p>

    <div class="content">
      <p>
        Nothing contained in this site shall be construed as conferring by
        implication, estoppel, or otherwise, any license or right to any
        copyright, patent, trademark or other proprietary interest of Pragmma
        Limited or any third party.
      </p>
      <p>
        This site and the content provided in this site, including, but not
        limited to, graphic images, audio, video, html code, buttons, and text,
        may not be copied, reproduced, republished, uploaded, posted,
        transmitted, or distributed in any way, without the prior written
        consent of Pragmma Limited, except that you may download, display, and
        print one copy of the materials on any single computer solely for your
        personal, non-commercial use, provided that you do not modify the
        material in any way and you keep intact all copyright, trademark, and
        other proprietary notices.
      </p>
      <p>
        The information provided on this site is free of charge and for
        informational purposes only and does not create a business or
        professional services relationship between you and Pragmma Limited.
        Links on this site may lead to services or sites not operated by Pragmma
        Limited. No judgment or warranty is made with respect to such other
        services or sites and Pragmma Limited takes no responsibility for such
        other sites or services.
      </p>
      <p>
        A link to another site or service is not an endorsement of that site or
        service. Any use you make of the information provided on this site, or
        any site or service linked to by this site, is at your own risk.
      </p>
      <p>
        This site and its contents are provided “as is” and Pragmma Limited
        makes no representation or warranty of any kind with respect to this
        site or any site or service accessible through this site. Pragmma
        Limited expressly disclaims all express and implied warranties
        including, but not limited to, the implied warranties of
        merchantability, fitness for a particular purpose, title, and
        non-infringement. In no event will either Pragmma Limited or its
        third-party service providers be liable to any party for any direct,
        indirect, incidental, special, exemplary, consequential, or other
        damages (including, but not limited to, lost profits, business
        interruption, loss of programs or data) without regard to the form of
        action and whether in contract, tort, negligence, strict liability, or
        otherwise, arising out of or in connection with this site, any content
        on or accessed through this site or any site service linked to, or any
        copying, displaying, or use thereof.
      </p>
      <p>
        You are responsible for complying with the laws of the jurisdiction from
        which you are accessing this site and you agree that you will not access
        or use the information on this site in violation of such laws. Unless
        expressly stated otherwise herein, any information submitted by you
        through this site shall be deemed non-confidential and non-proprietary.
      </p>
      <p>
        You represent that you have the lawful right to submit such information
        and agree that you will not submit any information unless you are
        legally entitled to do so. Because of the open nature of the Internet,
        we recommend that you not submit information you consider confidential.
      </p>
      <p>
        Pragmma Limited does not accept unauthorised idea submissions outside of
        established business relationships. To protect the interests of our
        current clients and ourselves, we must treat the issue of such
        submissions with great care. Importantly, without a clear business
        relationship, Pragmma Limited cannot and does not treat any such
        submissions in confidence. Accordingly, please do not communicate
        unauthorised idea submissions to Pragmma Limited through this website.
      </p>
      <p>
        Any ideas disclosed to Pragmma Limited outside a pre-existing and
        documented confidential business relationship are not confidential and
        Pragmma Limited may, therefore, develop, use and freely disclose or
        publish similar ideas without compensating you or accounting to you.
        Pragmma Limited will make every reasonable effort to return or destroy
        any unauthorised idea submissions without detailed review of them.
      </p>
      <p>
        However, if a review is necessary for Pragmma Limited’s sole discretion,
        it will be with the understanding that Pragmma Limited assumes no
        obligation to protect the confidentiality of your idea or compensate you
        for its disclosure or use. By submitting an idea or other detailed
        submissions to Pragmma Limited through this website, you agree to be
        bound by the terms of this stated policy.
      </p>
    </div>
  </div>

</div>
