<svg
  xmlns="http://www.w3.org/2000/svg"
  class="w-full h-full"
  viewBox="0 0 427.121 123.536">
  <g id="Group_660" data-name="Group 660" transform="translate(-782 -88)">
    <path
      id="Path_197"
      data-name="Path 197"
      d="M18.154,0a6.116,6.116,0,0,0,3.98-1.362A4.788,4.788,0,0,0,23.81-5.307v-39.1h22.2q35.471,0,35.471-27.441,0-14.8-8.8-21.192T46.922-99.43h-28.7a5.608,5.608,0,0,0-4.085,1.606,5.265,5.265,0,0,0-1.641,3.91V-5.307A4.809,4.809,0,0,0,14.174-1.4,6.019,6.019,0,0,0,18.154,0ZM23.81-53.136V-90.422H47.341q12.359,0,17.735,4.434t5.376,14.139q0,9.775-5.83,14.244t-18.4,4.469Z"
      transform="translate(769.501 187.43)" />
    <path
      id="Path_196"
      data-name="Path 196"
      d="M16.133,0A5.675,5.675,0,0,0,19.79-1.23a4.06,4.06,0,0,0,1.538-3.35V-42.725a18.3,18.3,0,0,1,1.06-6.05A20.837,20.837,0,0,1,25.6-54.619a15.316,15.316,0,0,1,6.05-4.546,21.551,21.551,0,0,1,8.887-1.743,4.11,4.11,0,0,0,3.145-1.162,3.943,3.943,0,0,0,1.094-2.8,5.03,5.03,0,0,0-1.094-3.179,3.4,3.4,0,0,0-2.8-1.4,19.361,19.361,0,0,0-12.817,4.238,19.963,19.963,0,0,0-6.733,10.6v-8.066a4.483,4.483,0,0,0-1.538-3.486A5.306,5.306,0,0,0,16.27-67.4a5.439,5.439,0,0,0-3.486,1.2,4.075,4.075,0,0,0-1.5,3.384V-4.58A4.159,4.159,0,0,0,12.715-1.2,5.168,5.168,0,0,0,16.133,0Z"
      transform="translate(843.721 187.883)" />
    <path
      id="Path_195"
      data-name="Path 195"
      d="M28.1,1.4q14.984,0,21.741-14.315v8.9A3.71,3.71,0,0,0,51.174-.937,4.98,4.98,0,0,0,54.385.134,5.8,5.8,0,0,0,58-1.037a3.781,3.781,0,0,0,1.539-3.177v-41.14q0-11.372-6.689-16.891t-18.73-5.519q-14.917,0-24.885,6.221A2.6,2.6,0,0,0,7.96-59.2a3.8,3.8,0,0,0,1.1,2.609,3.33,3.33,0,0,0,2.509,1.2,3.33,3.33,0,0,0,1.472-.4,63.263,63.263,0,0,1,10-3.913,39.99,39.99,0,0,1,10.87-1.3q7.425,0,11.707,3.612t4.281,11.1v8.429q-9.1,0-15.419.3a104.96,104.96,0,0,0-11.707,1.171,37.805,37.805,0,0,0-8.663,2.274A17.794,17.794,0,0,0,8.563-30.47a12.449,12.449,0,0,0-3.211,5.285,25.1,25.1,0,0,0-.937,7.325q0,9.3,6.489,14.282T28.1,1.4Zm1.2-6.623q-15.52,0-15.52-13.044,0-5.82,3.044-8.663t10.5-3.98q7.459-1.137,22.577-1.137v2.208q0,10.77-6.154,17.694T29.3-5.218Z"
      transform="translate(889.585 186.194)" />
    <path
      id="Path_194"
      data-name="Path 194"
      d="M36.052,26.826q14.2,0,22.148-6.707T66.149.262V-60.326a4.1,4.1,0,0,0-1.309-3.206,4.619,4.619,0,0,0-3.206-1.178A4.725,4.725,0,0,0,58.527-63.6a3.892,3.892,0,0,0-1.407,3.01v8.571a23.191,23.191,0,0,0-8.539-10.5q-5.66-3.762-13.969-3.762a28.823,28.823,0,0,0-10.305,1.8,24.185,24.185,0,0,0-8.113,4.973,30.421,30.421,0,0,0-5.758,7.492A36.3,36.3,0,0,0,6.87-42.66a46.436,46.436,0,0,0-1.178,10.6A38.749,38.749,0,0,0,7.524-20.054,33.109,33.109,0,0,0,12.89-9.847a24.638,24.638,0,0,0,9.193,7.2A29.815,29.815,0,0,0,34.874,0,22.69,22.69,0,0,0,48.647-4.187a22.55,22.55,0,0,0,8.081-10.6V0q0,9.88-5.071,14.885T35.528,19.891a52.277,52.277,0,0,1-18.909-3.86,3.522,3.522,0,0,0-1.112-.2,3.074,3.074,0,0,0-2.355,1.08,3.586,3.586,0,0,0,1.439,5.856A52.915,52.915,0,0,0,36.052,26.826Zm.393-33.3A19.474,19.474,0,0,1,21.2-13.086q-5.889-6.608-5.889-19.367,0-12.1,5.333-19.662t15.6-7.557a19.292,19.292,0,0,1,9.782,2.388,16.469,16.469,0,0,1,6.379,6.445,32.6,32.6,0,0,1,3.239,8.571,43.489,43.489,0,0,1,1.014,9.553q0,11.712-5.791,18.975T36.444-6.478Z"
      transform="translate(956.308 184.71)" />
    <path
      id="Path_198"
      data-name="Path 198"
      d="M28.1,1.4q14.984,0,21.741-14.315v8.9A3.71,3.71,0,0,0,51.174-.937,4.98,4.98,0,0,0,54.385.134,5.8,5.8,0,0,0,58-1.037a3.781,3.781,0,0,0,1.539-3.177v-41.14q0-11.372-6.689-16.891t-18.73-5.519q-14.917,0-24.885,6.221A2.6,2.6,0,0,0,7.96-59.2a3.8,3.8,0,0,0,1.1,2.609,3.33,3.33,0,0,0,2.509,1.2,3.33,3.33,0,0,0,1.472-.4,63.263,63.263,0,0,1,10-3.913,39.99,39.99,0,0,1,10.87-1.3q7.425,0,11.707,3.612t4.281,11.1v8.429q-9.1,0-15.419.3a104.96,104.96,0,0,0-11.707,1.171,37.805,37.805,0,0,0-8.663,2.274A17.794,17.794,0,0,0,8.563-30.47a12.449,12.449,0,0,0-3.211,5.285,25.1,25.1,0,0,0-.937,7.325q0,9.3,6.489,14.282T28.1,1.4Zm1.2-6.623q-15.52,0-15.52-13.044,0-5.82,3.044-8.663t10.5-3.98q7.459-1.137,22.577-1.137v2.208q0,10.77-6.154,17.694T29.3-5.218Z"
      transform="translate(1149.585 186.194)" />
    <g id="Group_684" data-name="Group 684" transform="translate(112 -300.9)">
      <g id="Group_665" data-name="Group 665" transform="translate(928 438.5)">
        <path
          id="Path_214"
          data-name="Path 214"
          d="M568,832v62.4"
          transform="translate(-568 -832)"
          fill="none"
          stroke="#000"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8" />
        <path
          id="Path_217"
          data-name="Path 217"
          d="M572,857.4c.024,9.782,4.861,19.239,19.2,19.2s19.249-9.589,19.2-19.2"
          transform="translate(-572 -819)"
          fill="none"
          stroke="#000"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8" />
        <path
          id="Path_218"
          data-name="Path 218"
          d="M610.4,819v38.4c.049,9.611-4.861,19.161-19.2,19.2s-19.176-9.418-19.2-19.2,0-38.4,0-38.4"
          transform="translate(-533.6 -819)"
          fill="none"
          stroke="#000"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8" />
      </g>
      <g
        id="Group_666"
        data-name="Group 666"
        transform="translate(1024 476.9) rotate(180)">
        <path
          id="Path_214-2"
          data-name="Path 214"
          d="M0,0V62.4"
          transform="translate(0 0)"
          fill="none"
          stroke="#000"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8" />
        <path
          id="Path_217-2"
          data-name="Path 217"
          d="M0,38.4c.024,9.782,4.861,19.239,19.2,19.2s19.249-9.589,19.2-19.2"
          transform="translate(0 0)"
          fill="none"
          stroke="#000"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8" />
        <path
          id="Path_218-2"
          data-name="Path 218"
          d="M38.4,0V38.4c.049,9.611-4.861,19.161-19.2,19.2S.024,48.182,0,38.4,0,0,0,0"
          transform="translate(38.4)"
          fill="none"
          stroke="#000"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8" />
      </g>
    </g>
  </g>
</svg>
