<script>
  //   import SVG404 from "../svg/404.svelte";
</script>

<style>
  .button {
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
  }
  .wrapper {
    min-height: 80vh;
    background-image: url("/404.svg");
  }
</style>

<div class=" md:p-12">

  <div
    class=" wrapper flex justify-center relative bg-cover bg-no-repeat bg-right
    md:bg-contain sm:bg-center ">
    <!-- <div class="w-full md:w-4/6 justify-center">
      <SVG404 />
    </div> -->
    <div class="w-full flex items-center justify-end ">

      <div class="w-full p-8 sm:w-1/2 lg:mr-48 lg:w-1/3 flex flex-col ">
        <h1 class="mb-6 text-3xl md:text-5xl">OOPS! 404</h1>
        <p class="mb-6 text-base md:text-xl">
          Something’s only missing, it could be much worse. It happens to the
          best of us.
        </p>
        <div class="my-8">
          <a
            class="button p-4 uppercase cursor-pointer border border-black
            font-bold hover:text-white hover:bg-black"
            href="/">
            Return home
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
