<script context="module">
  import members from "../../data/team";

  export async function preload(page) {
    const { id } = page.params;
    const member = members.find(m => m.id === id);
    return { member };
  }
</script>

<script>
  import { stores } from "@sapper/app";
  const { page } = stores();
  const { params } = $page;

  import LinkedInSVG from "../../components/svg/social/linkedin.svelte";
  import InstagramSVG from "../../components/svg/social/instagram.svelte";
  import TwitterSVG from "../../components/svg/social/twitter.svelte";
  import FacebookSVG from "../../components/svg/social/facebook.svelte";
  import WebSVG from "../../components/svg/social/web.svelte";

  const socialMedia = {
    linkedin: {
      icon: LinkedInSVG,
      url: "https://www.linkedin.com/in/",
      title: "LinkedIn"
    },
    instagram: {
      icon: InstagramSVG,
      url: "https://www.instagram.com/",
      title: "Instagram"
    },
    twitter: {
      icon: TwitterSVG,
      url: "https://twitter.com/",
      title: "Twitter"
    },
    facebook: {
      icon: FacebookSVG,
      url: "https://www.facebook.com/",
      title: "Facebook"
    },
    web: { icon: WebSVG, url: "", title: "Website" }
  };

  export let member;
  let y = 0;

  if (!member) {
    member = members.find(m => m.id === params.id);
    if (!member) {
      //TODO error 404??
    }
  }
  const imageName = `${member.id}-single-`;
</script>

<style>
  header {
    height: calc(100vw + 110px);
    @screen md {
      height: 100vh;
    }
    /* TODO try to use breakpoint */
    @media (max-width: 767px) {
      transform: translate3d(0, 0, 0) !important;
      & > div {
        transform: translate3d(0, 0, 0) !important;
      }
    }
  }
  img {
    height: calc(100% - 80px);
    min-width: 100%;
    object-fit: cover;
    object-position: 80% 0;
  }
</style>

<svelte:window bind:scrollY={y} />

{#if member}
  <header
    class="relative flex flex-wrap items-end "
    style="transform: translate3d(0px, {y * 0.4}px, 0px);">
    <div
      style="transform: translate3d(0px, -{y * 0.2}px, 0px);"
      class="absolute bottom-0 px-8 bg-white w-full h-auto md:h-full md:px-12
      md:pb-32 md:bg-transparent flex items-end">
      <div class="w-full text-center md:w-auto md:text-left">
        <h1 class="text-4xl md:text-5xl md:font-bold ">{member.name}</h1>
        <p class="md:text-2xl">{member.position}</p>
      </div>
    </div>
    <img
      width="1600"
      height="900"
      src="/team/{imageName}1600x900.jpg"
      class="attachment-fp-xlarge size-fp-xlarge"
      alt=""
      srcset="/team/{imageName}1600x900.jpg 1600w, /team/{imageName}180x101.jpg
      180w, /team/{imageName}480x270.jpg 480w, /team/{imageName}768x432.jpg
      768w, /team/{imageName}1024x576.jpg 1024w, /team/{imageName}640x360.jpg
      640w, /team/{imageName}1200x675.jpg 1200w"
      sizes="(max-width: 1600px) 100vw, 1600px" />

  </header>

  <div class="block relative bg-white p-8 pt-4 pb-24 md:pt-24">
    <div class=" md:w-2/3 lg:w-5/12 m-auto bg-white">
      {#each member.description as content}
        <p class="mt-6">{content}</p>
      {/each}
      {#if member.social}
        <div class="flex justify-center my-8">
          {#each member.social as social}
            <a
              target="_blank"
              title={socialMedia[social.platform].title}
              href="{socialMedia[social.platform].url}{social.username}"
              class="w-10 p-2 mx-2 rounded-full bg-black text-white fill-current">
              <svelte:component this={socialMedia[social.platform].icon} />
            </a>
          {/each}
        </div>
      {/if}
    </div>

  </div>
  <!-- content here -->
{/if}
