<script>
  import DownSVG from "./svg/down.svelte";
</script>

<style>
  .blinking {
    animation: blinker 2s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
</style>

<div class="w-16 blinking">
  <DownSVG />
</div>
