<script>
  import PragmmaSVG from "../components/svg/pragmma.svelte";
</script>

<style>
  .term-links {
    @apply mt-8;
    & a {
      @apply text-gray-600;
      &:not(:last-child) {
        @apply pr-2;
      }
      &:hover {
        @apply text-black;
      }
    }
  }
</style>

<footer
  class="flex flex-col items-center md:flex-row md:justify-between px-8 md:px-12
  border-gray-400 border-t border-solid">
  <!-- <div class="p-8">
    <div class="flex flex-col items-center ">
      <h6 class="text-xl uppercase mb-2">Contacto</h6>
      <div class="">
        <p>
          <a
            href="https://goo.gl/maps/BWHmwDn3nFZscctz9a"
            target="_blank"
            rel="noopener noreferrer">
            Eirexe 2, San Pedro de Lincora
          </a>
          <br />
          <span>Chantada (27514), LU, Spain</span>
          <br />
          616186531
          <br />
          <a style="color: #ac9f71;" href="/visit/">Schedule Appointment</a>
        </p>
      </div>
    </div>
  </div> -->
  <div class=" w-48 py-8 md:px-6 flex justify-center items-center">
    <PragmmaSVG />
  </div>

  <div class="py-8 md:px-6 flex flex-col text-sm text-center md:text-right">
    <!-- TODO SOCIAL MEDIA -->
    <em>© {new Date().getFullYear()} Pragmma Limited</em>
    <span>20-22 Wenlock Road, London, England N1 7GU, United Kingdom</span>
    <span>Company No. 12090776. All rights reserved.</span>
    <span>VAT No: 326 7670 82</span>
    <div class="term-links">
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/terms-conditions">Terms &amp; Coditions</a>
      <a href="/accessibility">Accessibility</a>
      <a href="/sitemap">Sitemap</a>
    </div>
  </div>
  <!-- <div class="p-8">
    <div class="">
      <h6 class="text-xl uppercase mb-2">Redes sociales</h6>
      <div class="">
        <div class="">
          <div class="">
            <p>
              <a
                href="https://www.facebook.com/pragmatech/"
                target="_blank"
                rel="noopener noreferrer">
                <i class=" icon-facebook3 small plain" />
              </a>
            </p>
          </div>
          <div class="">

            <p>
              <a href="https://www.instagram.com/pragmatech/" class="">
                <i
                  class="tatsu-icon tatsu-custom-icon tatsu-custom-icon-class
                  icon-social_instagram_circle small plain" />
              </a>
            </p>
          </div>
          <div class="">

            <p>
              <a
                href="https://twitter.com/pragmatech"
                class="tatsu-icon-wrap plain "
                data-animation="fadeIn"
                data-animation-delay="0"
                target="_blank"
                rel="noopener noreferrer">
                <i
                  class="tatsu-icon tatsu-custom-icon tatsu-custom-icon-class
                  icon-social_twitter_circle small plain" />
              </a>
            </p>
          </div>
        </div>

        <div class="">
          <a class="" href="/mailing-list/">Join Mailing List</a>
          <p />

        </div>
      </div>
    </div>
  </div> -->
</footer>
