<script>
  import PragmmaSVG from "../components/svg/pragmma.svelte";
  import MenuButton from "../components/MenuButton.svelte";
  export let segment;
  let opened = false;

  function handleClickMenu(e) {
    if (e.target.href) {
      opened = false;
    }
  }
  $: inverse = segment === undefined;

  $: routes = [
    { title: "Approach", url: "approach" },
    // { title: "Work", url: "case-studies" },
    { title: "About", url: "about" }
  ].map(route => ({
    ...route,
    active: route.url === segment
  }));
</script>

<style>
  .menu {
    @screen md {
      @apply uppercase;
    }
    & li {
      @apply mx-6 flex items-end;
      & a {
        @apply leading-none text-black;
      }
    }
    &.opened {
      @apply flex flex-col fixed inset-0 bg-black text-white pt-24 pl-4 text-2xl z-10;
      & li {
        @apply my-4;
        & a {
          @apply text-white;
        }
      }
    }
  }
  .menu li a.active {
    @apply text-primary;
  }
  .inverse {
    @apply bg-primary;
    & :global(.hamburger .line) {
      @apply bg-white;
    }
    & nav {
      & > a {
        @apply text-white fill-current stroke-current;
      }
      & .menu li a {
        @apply text-white;
      }
    }
  }
</style>

<header class="absolute w-full z-10 bg-white" class:inverse>

  <nav
    class="flex justify-between items-center h-20 px-8 py-6 md:px-24
    md:items-end">
    <a href="/" rel="home" class="w-32 block -mb-2 mr-8">
      <PragmmaSVG />
    </a>
    <ul class="menu hidden md:flex" class:opened on:click={handleClickMenu}>
      {#each routes as { url, prefetch, title, active, icon }, i}
        <li>
          <a class:active rel={prefetch ? 'prefetch' : ''} href={url || '.'}>
            {title}
          </a>
        </li>
      {/each}

    </ul>

    <MenuButton expanded={opened} on:toggle={e => (opened = e.detail)} />

    <!-- <div><a href="/contact/">Contact</a></div>
<p><a href="tel:+34722273938">722273938</a></p> -->

    <!-- </nav><button type="button"> </button><nav> -->

  </nav>
</header>
