<script>
  export let expanded = false;
  import { createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();

  function handleClick() {
    let timeout = 0;
    if (!expanded) {
      timeout = 300;
    }
    expanded = !expanded;

    setTimeout(() => dispatch("toggle", expanded), timeout);
  }
</script>

<style>
  /* TODO change position absolute */

  .hamburger {
    @apply w-12 h-10 relative z-10;
  }

  .hamburger .line {
    background-color: #0a0a0a;
    display: block;
    height: 2px;
    position: absolute;
    right: 6px;
    top: 14px;
    transition: all 0.5s ease;
    width: 32px;
    z-index: 2;
  }

  .hamburger .line-2 {
    top: 20px;
  }

  .hamburger .line-3 {
    top: 26px;
  }

  .hamburger.expanded {
    @apply fixed right-0 top-0 mt-6 mr-8;
  }

  .hamburger.expanded .line-1 {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 22px;
  }

  .hamburger.expanded .line-2 {
    top: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 22px;
  }

  .hamburger.expanded .line-3 {
    right: 0;
    width: 0;
  }

  .hamburger.expanded .line {
    background-color: #fefefe;
  }
</style>

<button
  aria-label="Main Menu"
  class:expanded
  class="hamburger md:hidden focus:outline-none"
  on:click={handleClick}
  type="button"
  data-toggle="mobile-menu">
  <span class="line line-1" />
  <span class="line line-2" />
  <span class="line line-3" />
</button>
