<script>
  import { onMount } from "svelte";
  let bottomThreshold = 0;
  let topThreshold = 100;
  let y = 0;
  let parentElement = null;
  let childElement = null;
  function calculateY() {
    const scrollY = window.scrollY;
    const increment = scrollY * 0.5;

    if (increment < topThreshold) {
      return (y = 0);
    }
    if (increment < bottomThreshold + topThreshold) {
      return (y = increment - topThreshold);
    }
    return (y = bottomThreshold);
  }
  onMount(() => {
    // TODO ADD ON RESIZE
    bottomThreshold =
      (parentElement.clientTop +
        parentElement.clientHeight -
        (childElement.clientTop + childElement.clientHeight)) /
      2;
    // topThreshold = parentElement.clientHeight / 2;
  });
</script>

<style>
  .page-title {
    height: 80vh;
    @apply flex justify-center items-center;
    & :global(h1) {
      @apply text-5xl text-center mb-8;
      @screen lg {
        @apply text-6xl;
      }
    }

    & :global(p) {
      @apply text-base text-center;
      @screen lg {
        @apply text-2xl;
      }
    }
  }
</style>

<svelte:window on:scroll={calculateY} />

<header
  bind:this={parentElement}
  class="page-title"
  role="banner"
  style="transform: translate3d(0px, {y}px, 0px);">

  <div bind:this={childElement} class="md:w-4/6 p-12">
    <slot name="title">No title was provided</slot>
    <slot name="description">No desciption was provided</slot>

  </div>
</header>
