<svg
  xmlns="http://www.w3.org/2000/svg"
  class="w-full h-full"
  viewBox="0 0 104 87.4">
  <g id="Group_688" data-name="Group 688" transform="translate(-908 -695.5)">
    <g id="Group_681" data-name="Group 681">
      <path
        id="Path_214"
        data-name="Path 214"
        d="M568,832v62.4"
        transform="translate(344 -112)"
        fill="none"
        stroke="#fff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1" />
      <path
        id="Path_218"
        data-name="Path 218"
        d="M610.4,819v38.4c.049,9.611-4.861,19.161-19.2,19.2s-19.176-9.418-19.2-19.2,0-38.4,0-38.4"
        transform="translate(378.4 -99)"
        fill="none"
        stroke="#fff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1" />
      <path
        id="Path_214-2"
        data-name="Path 214"
        d="M0,0V62.4"
        transform="translate(1008 758.4) rotate(180)"
        fill="none"
        stroke="#fff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1" />
      <path
        id="Path_218-2"
        data-name="Path 218"
        d="M38.4,0V38.4c.049,9.611-4.861,19.161-19.2,19.2S.024,48.182,0,38.4,0,0,0,0"
        transform="translate(969.6 758.4) rotate(180)"
        fill="none"
        stroke="#fff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1" />
    </g>
    <g id="Group_680" data-name="Group 680">
      <path
        id="Path_217"
        data-name="Path 217"
        d="M572,857.4c.024,9.782,4.861,19.239,19.2,19.2s19.249-9.589,19.2-19.2"
        transform="translate(340 -99)"
        fill="none"
        stroke="#00c4ff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="8" />
      <path
        id="Path_217-2"
        data-name="Path 217"
        d="M0,38.4c.024,9.782,4.861,19.239,19.2,19.2s19.249-9.589,19.2-19.2"
        transform="translate(1008 758.4) rotate(180)"
        fill="none"
        stroke="#00c4ff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="8" />
    </g>
  </g>
</svg>
