<svg
  xmlns="http://www.w3.org/2000/svg"
  class="w-full h-full"
  viewBox="0 0 97 87.4">
  <g id="Group_687" data-name="Group 687" transform="translate(-1103.5 -689.1)">
    <g id="Group_683" data-name="Group 683">
      <path
        id="Path_214"
        data-name="Path 214"
        d="M568,832v62.4"
        transform="translate(536 -118.4)"
        fill="none"
        stroke="#fff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1" />
      <path
        id="Path_217"
        data-name="Path 217"
        d="M572,857.4c.024,9.782,4.861,19.239,19.2,19.2s19.249-9.589,19.2-19.2"
        transform="translate(532 -105.4)"
        fill="none"
        stroke="#fff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1" />
      <path
        id="Path_214-2"
        data-name="Path 214"
        d="M0,0V62.4"
        transform="translate(1200 752) rotate(180)"
        fill="none"
        stroke="#fff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1" />
      <path
        id="Path_217-2"
        data-name="Path 217"
        d="M0,38.4c.024,9.782,4.861,19.239,19.2,19.2s19.249-9.589,19.2-19.2"
        transform="translate(1200 752) rotate(180)"
        fill="none"
        stroke="#fff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1" />
    </g>
    <g id="Group_682" data-name="Group 682">
      <path
        id="Path_218"
        data-name="Path 218"
        d="M610.4,819v38.4c.049,9.611-4.861,19.161-19.2,19.2s-19.176-9.418-19.2-19.2,0-38.4,0-38.4"
        transform="translate(570.4 -105.4)"
        fill="none"
        stroke="#00c4ff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="8" />
      <path
        id="Path_218-2"
        data-name="Path 218"
        d="M38.4,0V38.4c.049,9.611-4.861,19.161-19.2,19.2S.024,48.182,0,38.4,0,0,0,0"
        transform="translate(1161.6 752) rotate(180)"
        fill="none"
        stroke="#00c4ff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="8" />
    </g>
  </g>
</svg>
