<svg
  xmlns="http://www.w3.org/2000/svg"
  class="w-full h-full"
  viewBox="0 0 104 94.4">
  <g transform="translate(-716 -689)">
    <g>
      <path
        d="M572,857.4c.024,9.782,4.861,19.239,19.2,19.2s19.249-9.589,19.2-19.2"
        transform="translate(148 -102)"
        fill="none"
        stroke="#fff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1" />
      <path
        d="M610.4,819v38.4c.049,9.611-4.861,19.161-19.2,19.2s-19.176-9.418-19.2-19.2,0-38.4,0-38.4"
        transform="translate(186.4 -102)"
        fill="none"
        stroke="#fff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1" />
      <path
        d="M0,38.4c.024,9.782,4.861,19.239,19.2,19.2s19.249-9.589,19.2-19.2"
        transform="translate(816 755.4) rotate(180)"
        fill="none"
        stroke="#fff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1" />
      <path
        d="M38.4,0V38.4c.049,9.611-4.861,19.161-19.2,19.2S.024,48.182,0,38.4,0,0,0,0"
        transform="translate(777.6 755.4) rotate(180)"
        fill="none"
        stroke="#fff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1" />
    </g>
    <g>
      <path
        d="M568,832v62.4"
        transform="translate(152 -115)"
        fill="none"
        stroke="#00c4ff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="8" />
      <path
        d="M0,0V62.4"
        transform="translate(816 755.4) rotate(180)"
        fill="none"
        stroke="#00c4ff"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="8" />
    </g>
  </g>
</svg>
